<div class="container">
  <h1>
    TITULO
  </h1>

  <div class="row" style="background-color: yellow;">
    FILA
    <div class="col-sm-12" style="background-color: chocolate;">
      columna 12
    </div>
    <div class="col-sm-6" style="background-color: green;">
      columna 6
    </div>
    <div class="col-sm-6" style="background-color: goldenrod;">
      columna 6
    </div>
    <div class="col-sm-4" style="background-color: rebeccapurple;">
      columna 4
    </div>
    <div class="col-sm-4" style="background-color: red;">
      columna 4
    </div>
    <div class="col-sm-4" style="background-color: gray;">
      columna 4
    </div>
  </div>

</div>
<div>
</div>