<p>home works!</p>
<div class="row">
  <div class="col-sm-4">
    <button [routerLink]="['/login']">
      ir a login
    </button>
  </div>
  <div class="col-sm-4">
    <button [routerLink]="['/usuario','listar']">
      ir a USAURIO LISTAR
    </button>
  </div>
  <div class="col-sm-4">
    <button (click)="irAUsuarioListar()">
      ir a usuario con click
    </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <button [routerLink]="['/pokemon','crear']">
      CREAR POKEMON
    </button>
  </div>
  <div class="col-sm-4">
    <button [routerLink]="['/pokemon','listar']">
      LISTAR POKEMON
    </button>
  </div>
  <div class="col-sm-4">
    <button (click)="irAPokemonEditar()">
      EDITAR POKEMON
    </button>
  </div>
</div>
